*~

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.catkin_tools
dist
build
eggs
parts
bin
devel
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

